<div  class="bootstrap" >
	<div class="page-head" >
		<h2 class="page-title" ng-if="title">{{title}}</h2>
		<ul class="breadcrumb page-breadcrumb" ng-if="has_breadcrumb">
			
							<li class="breadcrumb-container">
					<a href="/backoffice/index.php?controller=AdminParentPreferences&amp;token=211ab7d1eff11d894aac4ce1e7865665">					Préférences
					</a>				</li>
			
			
							<li class="breadcrumb-current">
					<a href="/backoffice/index.php?controller=AdminPPreferences&amp;token=817ae8e40ba4d5a6605e8244bffebf49">					Produits
					</a>				</li>
			
			
			
			</ul>
		<div ng-transclude />
	</div>
</div>